altgraph==0.17.4
black==25.1.0
click==8.2.1
colorama==0.4.6
flake8==7.3.0
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pefile==2023.2.7
platformdirs==4.4.0
pycodestyle==2.14.0
pyflakes==3.4.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-vlc==3.0.21203
pywin32-ctypes==0.2.3
tomli==2.2.1
typing_extensions==4.15.0
